*{
    margin: 0;  
    padding: 0;
}

.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    background-color: #494ea2;
    z-index: 9999;
    height: 50px;
    width: 100%;
}

.navbar .navs{
    display: flex;
    flex-direction: row;
}

.navbar .navs h1{
    margin-left: 16.5px;
    font-size: 26px;
    color:greenyellow;
}

.navbar .navs a{
    color: greenyellow;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 1150px;
}

.content{
    background-color: seagreen;
    height: 721px;
}

.content .editbook{
    margin-top: 40px;
    margin-left: 80px;
    font-size: 30px;
    background-color: saddlebrown;
    border-radius: 25px;
    margin-right: 100px;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.content h1{
    margin-left: 50px;
    font-size: 50px;
    color: blue;
}

.content label{
    color: skyblue;
}

.content .editbook .bookname{
    display: flex;
    flex-direction: column;
    margin-right: 1100px;
}

.content .editbook input{
    margin-top: 10px;
}

.content .editbook .bookgenre{
    display: flex;
    flex-direction: column;
    margin-right: 1100px;
    margin-top: 20px;
}

.content .editbook .stock{
    display: flex;
    flex-direction: column;
    margin-right: 1100px;
    margin-top: 20px;
}

.content .editbook .price{
    display: flex;
    flex-direction: column;
    margin-right: 1100px;
    margin-top: 20px;
}

.content .editbook button{
    margin-top: 40px;
    font-size: 20px;
}

