*{
    margin: 0;  
    padding: 0;
}

body{
    background-color: seagreen;
}

.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    background-color: #494ea2;
    z-index: 9999;
    height: 50px;
    width: 100%;
}

.navbar .navs{
    display: flex;
    flex-direction: row;
}

.navbar .navs h1{
    margin-left: 16.5px;
    font-size: 26px;
    color:greenyellow;
}

.navbar .navs a{
    color: greenyellow;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 1150px;
}

.table{
    background-color: seagreen;
    font-size: 20px;
    color: skyblue;
}

.table .change{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: -50px;
}

.table .change button{
    margin-left: 10px;
    color: blue;
    background-color: gray;
    padding: 3px;
}

.table .change a{
    background-color: grey;
    border-radius: 5px;
    color: blue;
    padding: 3px;
    text-shadow: gray;
}